/* Variables */
:root {
  --total-site-bg: #f0f0f0;
  --header-bg: #c86262;
  --nav-bg: #e79687;
  --main-bg: #4d8ac7;
  --footer-bg: #13131a;
  --text-light: #fff;
  --full-site-margin: 0.5rem;
}
/* Standard Grid Template */
/*  GRID AREAS */
body {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
  font-family: sans-serif;
  line-height: 1.6;
  /* margin: var(--full-site-margin); */
}
/* #region Header, Nav, Main, Footer */
header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

h1,
h2 {
  margin-bottom: 0.5rem;
}

/* Responsive layout for larger screens */
@media (min-width: 768px) {
  body {
    grid-template-areas:
      "header header"
      "nav nav"
      "main main"
      "footer footer";
    grid-template-columns: 1fr 1fr;
    margin: var(--full-site-margin);
  }
}

@media (min-width: 1024px) {
  body {
    grid-template-areas:
      "header header"
      "nav nav"
      "main main"
      "footer footer";
    grid-template-columns: repeat(2, 1fr);
    margin: var(--full-site-margin);
  }
}
/* #endregion */
