@import url(reset.css);
@import url(Full-Page_Grid-Areas.css);
@import url(form.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --white: #fcfbfc;
  --light: #ededed;
  --dark: #333;
  --black: #212121;
  --blue-dark: #32538b;
  --blue-light: #4f74b4;
  --yellow: #e4b834;
  --yellow-light: #ffd51b;
  --primary: #4496ee;
  --secondary: #ddd;
  --danger: #d44;
  --success: #3b833b;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: var(--light);
  color: var(--dark);
  padding: 0.3rem;
}

img {
  width: 100%;
  height: auto;
}

/* #endregion */
/* todo */
/* #region main content */
/* #region about section Slider */
/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* #endregion */
/* #endregion */
